*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/opencv
!.opencv/build.gradle
/captures
app/src/main/jni/ncnn-20220216-android/
.externalNativeBuild
.cxx
local.properties
